*{
    box-sizing: border-box;
}

@font-face {
    font-family: one;
    src: url(../../../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }
.skakes{
    margin: 10px 0px 50px 0px ;
    padding-left: 10px;
    padding-right: 10px;
}


.snakes-item{
font-family:one;
    font-size: 50px;
    text-shadow: 3px 1px 2px rgb(144, 141, 142);
    text-align: center;
    padding-bottom: 15px;
    margin-top: 100px;
}

.none {
    display:none;
}
.item{
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    /* padding: 5px 5px 5px 5px ; */
    margin:0px 15px 0px 15px;
    background: none;

}
.item_pal{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid grey;
    
    margin:0px 15px 0px 15px;
}

.label:active {
    color: aliceblue;
}

.price{
    
    color: brown;
    text-align: end;
    padding-right: 5px;
    

}
.price-pl{
    
    color: brown;
    align-self:flex-end;
    padding: 0px 10px 8px 0px;
    margin-left: 0px;
    

}

.price-b{
width: 200px;
text-align:right;
}
.label{
    width: 300px;
    padding-top: 8px;
    padding-right: 0px;
    font-weight: 500;
    font-size: 20px;
    flex-shrink:1;
   
}

.label_nap{
    width:310px;
    font-size: 20px;
    white-space: pre;
}

/* .label:active {
    color: white;
} */

.wrp{
    margin-bottom: 50px;
}




.btn-back{
    font-size: 30px;
}
.qr{
    width: 40px;
}
.wr_img {
    width:350px;
}

.wr_img img{
    width:100%;
}
.active:active .label{
    color:white;
}
