@font-face {
    font-family: one;
    src: url(../../../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }



.sw_h1{
    text-align: center;
    font-family:one;
    font-size: 50px;
    /* text-shadow: 3px 1px 2px rgb(144, 141, 142); */
}