@font-face {
    font-family: one;
    src: url(../../../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }

   @font-face {
    font-family: bolt;
    src: url(../../../../fonts/Dihjauti/Dihjauti-Bold.otf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }
   *{
    box-sizing: border-box;
   }
   
   .menu-items{
    font-family:one;
    font-size: 50px;
    text-shadow: 3px 1px 2px rgb(144, 141, 142);
}
    .wrap_bar_1{
   height: 100vh;
    display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
    .none{
    display: none;
}
.vine_wr{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.vine-items{
    display: flex;
    justify-content: space-between;

}
.h2{
    color:crimson;
    align-self:flex-end;
    font-family:bolt;

}
h2{
    margin-top: 10px;
    text-align: center;
}
.items{
    width: 70%;
    margin-top: 8px;
    font-family:bolt;
    font-size: 17px;
}

.items:active{
    color: aliceblue;
}
.w_wr_vine{
    padding: 40px 10px 0px 10px;
}

.r_wr_vine{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.barwarp{
    margin-top:30px;
    margin-left: 15px;
    margin-right: 15px;
}
.wrap_img_vine {
    margin-top: 50px;
    width: 80%;
}

.wrap_img_vine img {
    width: 100%;
}
.menu_wr {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    
}
.mg{
    margin-top: 20px;
}
.wrap_img_bar{
    width: 30%;
}

.wrap_img_bar img {
    width: 100%;
}
.koktel {
    width:220px
}
.price {
    width:80px
}

img .strelka{
    width: 80px;
}