@font-face {
    font-family: sitka;
    src: url(../../../fonts/sitka.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }

   @font-face {
    font-family: LEngineer;
    src: url(../../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }

   @font-face {
    font-family: zantroke;
    src: url(../../../fonts/zantroke/Zantroke.otf) format(otf);
    font-weight: 800;
    font-style: normal;
         
   }





.img{
    width: 50px;
    background-image:url("../../img/QR.jpg") ;
}


   a .menu-items{
    font-family:sitka;
    font-size: 50px;
    text-shadow: 3px 1px 2px rgb(144, 141, 142);
    text-decoration: none;
    color:black;
}

body{
    background-image:url("../../../src/img/wall-background-1481542063jfv.jpg") ;
    text-decoration: none;
    color:black;
}

.wrap{
    
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.one{
    font-family:one;
    font-size: 40px;
    text-shadow: 3px 1px 2px rgb(144, 141, 142);
}

.two{
    font-family:zantroke;
    font-size: 40px;
}

.btn{
    margin-top: 15px;
    font-family:zantroke;
    height: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}

input{
    height: 50px;
    margin-top: 15px;
}
.qrcode-wrap{
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    top:-10px;
    background-color:rgba(13, 14, 14, 0.8);
    
}



.none {
    display: none;
}





.ferma{
    width:80px;
    margin-left: 10px;
    
}

.wr_footer{
    display: flex;
    justify-content:space-between;
    width: 95%;
    flex-grow:1;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
     
}

.new{
    text-decoration: none;
    color: black;
}
