@font-face {
    font-family: one;
    src: url(../../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }

   @font-face {
    font-family: LEngineer;
    src: url(../../../fonts/DelaGothicOne/DelaGothicOne-Regular.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }

   @font-face {
    font-family: zantroke;
    src: url(../../../fonts/zantroke/Zantroke.otf) format(otf);
    font-weight: 800;
    font-style: normal;
         
   }



*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.img{
    width: 50px;
    background-image:url("../../img/QR.jpg") ;
}


   .menu-items{
    font-family:one;
    font-size: 50px;
    text-shadow: 3px 1px 2px rgb(144, 141, 142);
}

body{
    background-image:url("../../../src/img/wall-background-1481542063jfv.jpg") ;
}

.wrap{
    
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.one{
    font-family:one;
    font-size: 40px;
    text-shadow: 3px 1px 2px rgb(144, 141, 142);
}

.two{
    font-family:zantroke;
    font-size: 40px;
}

.btn{
    margin-top: 15px;
    font-family:zantroke;
    height: 50px;
    font-size: 30px;
    margin-bottom: 15px;
}

input{
    height: 50px;
    margin-top: 15px;
}
.qrcode-wrap{
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    top:-10px;
    background-color:rgba(13, 14, 14, 0.8);
    
}



.none {
    display: none;
}
