*{
    animation-name: circle;
    animation-duration: 1s;
    text-decoration: none;
}

@font-face {
    font-family: sitka;
    src: url(../../../fonts/sitka.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }

   @font-face {
    font-family: tahoma;
    src: url(../../../fonts/Tahoma.ttf) format(ttf);
    font-weight: 800;
    font-style: normal;
         
   }



.menu-back{
    width: 50px;
}

.send{
    width: 60px;
    margin:15px auto;
    
}

.send_active{
    animation-name: send;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


.wrap_send{
    text-align: center;
}


.list_ch{
    position: relative;
    animation-name: circle;
    animation-duration: 2s;
    display: flex;
    border-bottom: 1px grey solid;
    
    margin-top: 3px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    
    }

  
        
.count {
    padding-left: 5px;
    padding-right: 5px;
    
    
    align-self:center;
}
.name {
    width: 75%;
    font-family: tahoma;
    padding-left: 10px;
    align-self:center;
    border-right: 1px grey solid;
    border-left: 1px grey solid;
    
}
.prise{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    flex-grow:1;
    padding-left: 10px;
    text-align: center;
    
    
}
.acc{
    margin:5px 15px 0px 15px;
    text-align: right;
    border-bottom: 1px grey solid;
    padding-bottom: 10px;
}
.back {
    width:50px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.wr_logo_ch{
    text-align: center;

}
.logo-ch-2{
   width: 30%; 
}

.zakaz{
    font-family: sitka;
    text-align: center;
    text-decoration:none;
    color: black;
}



.sum{
    border-right: 1px grey solid;
    border-left: 1px grey solid;
    margin-bottom: 15px;
    padding: 0px 5px 0px 5px;
}

@keyframes circle{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    }

    @keyframes send{
        0%{
            opacity: 1;
            transform:translate(0px);
        }
        100%{
            opacity: 0;
            transform:translate(200px);
        }
        }
